h2{
    background-color: #f3f3f3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: aqua;
}
main{
    background-color: black;
    color: cadetblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 20px;
    margin: 35px;
}